{% extends 'base.html' %}

{% block title  %}
Basic Twit Application
{% endblock  %}

{% block lead  %}
Post and share Twiter Users' tweets
{% endblock  %}


{% block main_body  %}
Welcome!
{% if data %}

<form method="POST" action="/users">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Full_name</th>
      <th scope="col">Followers</th>
    </tr>
  </thead>
  <tbody>
    {% for data in data %}
    <tr>
      <th scope="row">{{ data.id }}</th>
      <td>{{ data.username }}</td>
      <td>{{ data.full_name }}</td>
      <td>{{ data.followers }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}



<p>
<h2>Tweet 확인하기</h2>
<h3> 
username을 입력 
(대소문자 정확히 구분)
</h3>
</p>

{% if tweet_data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">tweet</th>
    </tr>
  </thead>
  <tbody>
    {% for tweet_data in tweet_data %}
    <tr>
      <td scope="row">{{ tweet_data }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<form method="POST" action="/users">
  <input name="username" class="form-control" type="text" placeholder="Username">
  <input type="submit" class="btn btn-primary" value="View" />
</form>

{% endblock  %}